[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
get_input = "python scripts/get_input.py"
