def parse_input(text: str) -> str:
    return text


def part1(raw_input: str):
    input = parse_input(raw_input)
    return 0


def part2(raw_input: str):
    input = parse_input(raw_input)
    return 0
